@charset "utf-8";
@font-face {
  font-family: 'Alef';
  src: url('../fonts/Alef-Bold.eot');
  src: url('../fonts/Alef-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Alef-Bold.woff') format('woff'), url('../fonts/Alef-Bold.ttf') format('truetype'), url('../fonts/Alef-Bold.svg#alefbold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Alef';
  src: url('../fonts/Alef-Regular.eot');
  src: url('../fonts/Alef-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Alef-Regular.woff') format('woff'), url('../fonts/Alef-Regular.ttf') format('truetype'), url('../fonts/Alef-Regular.svg#alefregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.bio-red {
  color: #d12229;
}
.bio-yellow {
  color: #fee300;
}
.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background: url(../img/bg-fingerprint-cc-kevin-dooley.jpg) no-repeat bottom center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
body {
  direction: rtl;
  font-family: Alef, Helvetica, "Arial Hebrew", Arial;
}
#partySelect {
  color: black;
  height: 2em;
}
ul.mk-list {
  padding: 0;
  list-style: outside none none;
  text-align: center;
}
ul.mk-list li {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 170px;
  margin: 1em;
  text-align: center;
  vertical-align: text-bottom;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
ul.mk-list li.status-y {
  background-color: #32b33b;
}
ul.mk-list li.status-n {
  background-color: #f62c10;
}
ul.mk-list li.status-u {
  background-color: #888888;
}
ul.mk-list li a.mk-card {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
  color: black;
}
ul.mk-list li a.mk-card:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.4);
}
ul.mk-list li a.mk-card:hover .act-tag {
  background-color: black;
  color: white;
  border-color: white;
}
ul.mk-list li a.mk-card:hover div.mk-mask {
  opacity: 0;
}
ul.mk-list li a.mk-card .mk-image {
  margin-top: 5px;
  max-width: 150px;
  /* fix megalomanic scans ;) */
}
ul.mk-list li a.mk-card .mk-name {
  text-align: center;
  font-weight: bold;
}
ul.mk-list li a.mk-card .mk-party {
  font-weight: normal;
}
ul.mk-list .li-yes {
  background-color: #32b33b;
}
ul.mk-list .li-no {
  background-color: #f62c10;
}
ul.mk-list .li-undecided {
  background-color: #aaa;
}
ul.mk-list li div.mk-mask {
  display: block;
  position: absolute;
  top: 5px;
  height: 100px;
  left: 5px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}
ul.mk-list li.status-y div.mk-mask {
  background-color: rgba(50, 179, 59, 0.25);
}
ul.mk-list li.status-n div.mk-mask {
  background-color: rgba(246, 44, 16, 0.25);
}
ul.mk-list li.status-u div.mk-mask {
  background-color: rgba(136, 136, 136, 0.25);
}
.btn-all {
  border: 1px solid #8888ff;
  background-color: #000;
  color: #8888ff;
}
.btn-all:hover {
  color: white;
  background-color: #2d2d54;
}
.btn-all.active {
  border: 1px solid #8888ff;
  background-color: #8888ff;
  color: #000;
}
.btn-yes {
  border: 1px solid #32b33b;
  background-color: #000;
  color: #32b33b;
}
.btn-yes:hover {
  color: white;
  background-color: #113b13;
}
.btn-yes.active {
  border: 1px solid #32b33b;
  background-color: #32b33b;
  color: #000;
}
.btn-no {
  border: 1px solid #f62c10;
  background-color: #000;
  color: #f62c10;
}
.btn-no:hover {
  color: white;
  background-color: #510f05;
}
.btn-no.active {
  border: 1px solid #f62c10;
  background-color: #f62c10;
  color: #000;
}
.btn-undecided {
  border: 1px solid #888888;
  background-color: #000;
  color: #888888;
}
.btn-undecided:hover {
  color: white;
  background-color: #2d2d2d;
}
.btn-undecided.active {
  border: 1px solid #888888;
  background-color: #888888;
  color: #000;
}
.act-tag {
  border: 1px solid white;
  color: white;
  background-color: #000;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 5px;
  top: 72px;
  width: auto;
  height: auto;
  transform: rotate(30deg);
  -o-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  border-radius: 5px;
  padding: 5px;
  font-size: 0.9em;
}
li.status-y .act-tag {
  border-color: #32b33b;
  color: #32b33b;
}
li.status-n .act-tag {
  border-color: #f62c10;
  color: #f62c10;
}
li.status-u .act-tag {
  border-color: #888888;
  color: #888888;
}
.label-yes {
  background-color: #32b33b;
}
.label-no {
  background-color: #f62c10;
}
.label-undecided {
  background-color: #888888;
}
#about p {
  font-size: 16px;
}
#final-slogan em {
  color: yellow;
}
#emailModal {
  color: black;
}
#mk-details {
  color: #000000;
}
#mk-details ul {
  list-style: none;
}
#noMksFound {
  margin-top: 1em;
  padding: 0.5em;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #444;
  background-color: #222;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3) inset;
  color: #999;
}
#noMksFound em {
  display: block;
  font-size: 2em;
  color: yellow;
  font-style: normal;
  font-weight: bold;
}
footer .small-print {
  direction: ltr;
  font-size: 12px;
  color: #888;
  margin-top: 2em;
}
