
@charset "utf-8";

@font-face {
    font-family: 'Alef';
    src: url('../fonts/Alef-Bold.eot');
    src: url('../fonts/Alef-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Alef-Bold.woff') format('woff'),
         url('../fonts/Alef-Bold.ttf') format('truetype'),
         url('../fonts/Alef-Bold.svg#alefbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Alef';
    src: url('../fonts/Alef-Regular.eot');
    src: url('../fonts/Alef-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Alef-Regular.woff') format('woff'),
         url('../fonts/Alef-Regular.ttf') format('truetype'),
         url('../fonts/Alef-Regular.svg#alefregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.bio-red { color:#d12229 }
.bio-yellow { color:#fee300 }

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/bg-fingerprint-cc-kevin-dooley.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@color-yes: #32b33b;
@color-no: #f62c10;
@color-undecided: #888;
body {
  direction: rtl;
  font-family: Alef, Helvetica, "Arial Hebrew", Arial;
}
#partySelect {
  color: black;
  height: 2em;
}
ul.mk-list {
  padding: 0;
  list-style: outside none none;
  text-align: center;
}
ul.mk-list li {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 170px;
  margin: 1em;
  text-align: center;
  vertical-align: text-bottom;
  overflow: hidden;

  &.status-y {
    background-color: @color-yes;
  }
  &.status-n {
    background-color: @color-no;
  }
  &.status-u {
    background-color: @color-undecided;
  }

  box-shadow: 0 2px 4px rgba(0,0,0,.5);
  a.mk-card {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;

    color: black;

    &:hover {
      color: white;
      background-color: rgba(0,0,0,0.4);
      box-shadow: 0 0 4px rgba(255,255,255,0.4);
      .act-tag {
        background-color: black;
        color: white;
        border-color: white;
      }
      div.mk-mask {
        opacity: 0;
      }
    }

    .mk-image {
      margin-top: 5px;
      max-width: 150px;
      /* fix megalomanic scans ;) */
    }
    .mk-name {
      text-align: center;
      font-weight: bold;
    }
    .mk-party {
      font-weight: normal;
    }
  }

}
ul.mk-list .li-yes {
  background-color: @color-yes;
}
ul.mk-list .li-no {
  background-color: @color-no;
}
ul.mk-list .li-undecided {
  background-color: #aaa;
}
ul.mk-list li div.mk-mask {
  display: block;
  position: absolute;
  top: 5px;
  height: 100px;
  left: 5px;
  right: 5px;
  background-color: rgba(0,0,0,0.5);
}

ul.mk-list li.status-y div.mk-mask {
  background-color: fade(@color-yes, 25%);
}
ul.mk-list li.status-n div.mk-mask {
  background-color: fade(@color-no, 25%);
}
ul.mk-list li.status-u div.mk-mask {
  background-color: fade(@color-undecided, 25%);
}

.filter-button(@color) {
  border: 1px solid @color;
  background-color: #000;
  color: @color;
  &:hover {
    color: white;
    background-color: mix(@color, #000, 33%);
  }
  &.active {
    border: 1px solid @color;
    background-color: @color;
    color: #000;
  }

}

.btn-all {
  .filter-button(#88F);
}

.btn-yes {
  .filter-button( @color-yes );
}

.btn-no {
  .filter-button( @color-no );
}

.btn-undecided {
  .filter-button( @color-undecided );
}

.act-tag {
  border: 1px solid white;
  color: white;
  background-color: #000;
  box-shadow: 0 2px 2px rgba(0,0,0,0.5);
  position: absolute;
  left: 5px;
  top: 72px;
  width: auto;
  height: auto;
  transform: rotate(30deg);
  border-radius: 5px;
  padding: 5px;
  font-size: 0.9em;
}
.act-tag-with-status(@color) {
  border-color: @color;
  color: @color;
}
li.status-y .act-tag {
  .act-tag-with-status(@color-yes);
}
li.status-n .act-tag {
  .act-tag-with-status(@color-no);
}
li.status-u .act-tag {
  .act-tag-with-status(@color-undecided);
}

.label-yes {
  background-color: @color-yes;
}

.label-no {
  background-color: @color-no;
}

.label-undecided {
  background-color: @color-undecided;
}

#about {
  p {
    font-size: 16px;
  }
}

#final-slogan {
  em {
    color: yellow;
  }
}
#emailModal {
  color:black;
}

#mk-details { color: black }
#mk-details ul { list-style: none }

#noMksFound {
  margin-top: 1em;
  padding: 0.5em;

  text-align: center;
  border-radius: 10px;
  border: 1px solid #444;
  background-color: #222;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3) inset;
  em {
    display: block;
    font-size: 2em;
    color: yellow;
    font-style: normal;
    font-weight: bold;
  }
  color: #999;
}

footer {
  .small-print {
    direction: ltr;
    font-size: 12px;
    color: #888;
    margin-top: 2em;
  }
}
