<!-- About Section -->
<section id="about" class="container content-section text-center">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h1>הבעיה</h1>
			<h4 class="lead">
				למרות שהמאגר הביומטרי הוכרז על ידי מומחי אבטחה,
				פרופסורים, אנשי בטחון, ח"כים ושרים
				כ<a href="https://no2bio.org/letters-to-knesset/" target="_blank">סכנה ממשית</a>,
				החליטה הכנסת על תקופת
				<a href="https://archive.is/zUenM#selection-1897.0-1907.20" target="_blank">ניסוי</a> (פיילוט) בת שנתיים בה יחוייב כל מי שמעוניין בתיעוד חכם "להתנדב" למאגר שכזה.
				מדוע הוחלט להקים מאגר
				<a href="http://m.no2bio.org/post-costs.html" target="_blank">יקר להחריד</a> שמקובל רק
				<a href="https://dubiousdod.org/biomap" target="_blank">במשטרים חשוכים</a>? אפילו למבקר המדינה
				<a href="https://archive.today/Lc8eu#selection-547.0-561.404" target="_blank">לא מגלים</a>.
				הפיילוט יסתיים במרץ 2016, והכנסת תצטרך להחליט על עתידו של המאגר הביומטרי.
				אתר זה עוקב אחרי עמדות חברי הכנסת לקראת ההצבעה, ומאפשר לכם להעביר מסרים לחברי הכנסת על מנת לשכנע אותם להצביע נכון.
				<br />
				<button data-toggle="collapse" data-target="#problem-read-more" class="btn btn-warning btn-sm">קרא עוד</button>
			</h4>
			<div id="problem-read-more" class="collapse">
				<ul class="list-unstyled">
					<li><a href="http://www.digitalrights.org.il/files/reports/%D7%94%D7%AA%D7%A0%D7%95%D7%A2%D7%94_%D7%9C%D7%96%D7%9B%D7%95%D7%99%D7%95%D7%AA_%D7%93%D7%99%D7%92%D7%99%D7%98%D7%9C%D7%99%D7%95%D7%AA_-_%D7%93%D7%95%D7%97_%D7%9E%D7%95%D7%9E%D7%97%D7%99%D7%9D.pdf" target="_blank">
						דו״ח המומחים 2015 (pdf) <i class="fa fa-angle-double-left"></i></a> <span class="badge badge-bio">2.0</span></li>
					<li><a href="https://no2bio.org/letters-to-knesset/" target="_blank">
						מכתבי המדענים והאקדמאים 2009, 2011, 2015 <i class="fa fa-angle-double-left"></i></a></li>
					<li><a href="http://www.mevaker.gov.il/he/Reports/Report_301/b4ee39ba-ae27-452d-b0c6-d301c7e72c82/004-bio-metric.pdf?AspxAutoDetectCookieSupport=1" target="_blank">
						״תעוד לאומי ביומטרי - תקופת מבחן״. דו״ח של מבקר המדינה 2015 (pdf) <i class="fa fa-angle-double-left"></i></a></li>
					<li><a href="http://no2bio.org/the-problem/" target="_blank">
						עוד על הבעיה <i class="fa fa-angle-double-left"></i></a></li>
					<li><a href="https://no2bio.org/mevaker/" target="_blank">
						דו”ח מבקר המדינה 2010 <i class="fa fa-angle-double-left"></i></a></li>
				</ul>
			</div>

			<p>
				<a href="#action" class="btn btn-circle page-scroll">
					<i class="fa fa-angle-double-down animated"></i>
				</a>
			<p>
	</div>
</section>
