<!-- About Section -->
<section id="about" class="container content-section text-center">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h2>הבעיה</h2>
			<p>
				בקרוב יחוייב כל אזרח המבקש תעודה חכמה להיכנס למאגר הביומטרי. המאגר הוכרז על ידי מומחי אבטחה, פרופסורים, אנשי בטחון, ח"כים ושרים כ
				<a href="http://m.no2bio.org/post-letters-to-knesset.html" target="_blank">סכנה ממשית</a>. מדוע הוחלט להקים מאגר
				<a href="http://m.no2bio.org/post-costs.html" target="_blank">יקר להחריד</a> שמקובל רק
				<a href="https://dubiousdod.org/biomap" target="_blank">במשטרים חשוכים</a>? אפילו למבקר המדינה
				<a href="https://archive.today/Lc8eu#selection-547.0-561.404" target="_blank">לא מגלים</a>.
				בקרוב, תחליט הכנסת ה-20 על עתידו של המאגר הביומטרי.
				אתר זה עוקב אחרי עמדות חברי הכנסת לקראת ההצבעה.
				<br />
				<a href="http://no2bio.org/the-problem/" target="_blank">
עוד על הבעיה במאגר הביומטרי <i class="fa fa-angle-double-left"></i></a>
				<br />
				<a href="http://drm.org.il/files/reports/DRM_report_1.0.pdf" target="_blank">דו״ח המומחים המפורט (pdf) <i class="fa fa-angle-double-left"></i></a>
				<br />
			</p>
			<a href="#mk-status" class="btn btn-circle page-scroll">
				<i class="fa fa-angle-double-down animated"></i>
			</a>
		</div>
	</div>
</section>
