<!-- About Section -->
<section id="about" class="container content-section text-center">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h1>הבעיה</h1>
			<h4 class="lead">
				בקרוב יחוייב כל אזרח המבקש תעודה חכמה להיכנס למאגר הביומטרי. המאגר הוכרז על ידי מומחי אבטחה,
				פרופסורים, אנשי בטחון, ח"כים ושרים
				כ<a href="http://m.no2bio.org/post-letters-to-knesset.html" target="_blank">סכנה ממשית</a>.
				מדוע הוחלט להקים מאגר
				<a href="http://m.no2bio.org/post-costs.html" target="_blank">יקר להחריד</a> שמקובל רק
				<a href="https://dubiousdod.org/biomap" target="_blank">במשטרים חשוכים</a>? אפילו למבקר המדינה
				<a href="https://archive.today/Lc8eu#selection-547.0-561.404" target="_blank">לא מגלים</a>.
				בקרוב, תחליט הכנסת ה-20 על עתידו של המאגר הביומטרי.
				אתר זה עוקב אחרי עמדות חברי הכנסת לקראת ההצבעה, ומאפשר לכם להעביר מסרים לחברי הכנסת על מנת לשכנע אותם להצביע נכון.
			</h4>
			<div class="hidden-xs">
				<div class="btn-group" role="group" aria-label="מידע נוסף">
					<a class="btn btn-default" href="http://no2bio.org/the-problem/" target="_blank">
						עוד על הבעיה במאגר הביומטרי <i class="fa fa-angle-double-left"></i></a>
					<a class="btn btn-default"
						href="http://drm.org.il/files/reports/DRM_report_1.0.pdf" target="_blank">
						דו״ח המומחים המפורט (pdf) <i class="fa fa-angle-double-left"></i></a>
				</div>
			</div>
			<div class="visible-xs">
				<a class="btn btn-default" href="http://no2bio.org/the-problem/" target="_blank">
					עוד על הבעיה במאגר הביומטרי <i class="fa fa-angle-double-left"></i></a>
				<br />
				<br />
				<a class="btn btn-default"
					href="http://drm.org.il/files/reports/DRM_report_1.0.pdf" target="_blank">
					דו״ח המומחים המפורט (pdf) <i class="fa fa-angle-double-left"></i></a>
			</div>
			<p>
				<a href="#action" class="btn btn-circle page-scroll">
					<i class="fa fa-angle-double-down animated"></i>
				</a>
			<p>
	</div>
</section>
