    <!-- Action Section -->
    <section id="action" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>מה אפשר לעשות</h1>
                <p>
                <a class="page-scroll bio-yellow" href="#mk-status">באתר זה</a> תוכלו לרעות את עמדות
                120 חברי הכנסת (בהסתמך על הצבעות, הצהרות, ופעולות אחרות שלהם),
                ולנסות לשכנע את המתלבטים שביניהם לתמוך בביטול המאגר.
                תוכלו גם לתמוך בח"כים שמתנגדים למאגר, או למחות נגד אלה שמשתפים פעולה עם
                העוולה הזאת (במיוחד אם הם נבחרו בזכותכם), אבל הכי חשוב &mdash; לשכנע את
                המתלבטים.
                אם אתם חברי מרכז מפלגה, כדאי להזכיר את זה, כמובן.
                </p>
                <p>
                חשוב גם לדבר עם חברים ומכרים ולהסביר להם על הסכנות הטמונות במאגר,
                והכי חשוב &mdash; להזהיר אותם
                <a class="bio-yellow" target="_blank" href="https://no2bio.org/what-can-be-done/">
                    לא להוציא תעודת זהות או דרכון ביומטריים עד שהמאגר יבוטל</a>.
                </p>
                <p>
                  <a href="#mk-status" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                  </a>
                </p>
            </div>
        </div>
    </section>
