    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">ניסוי
                         <span class="bio-yellow">המאגר הביומטרי</span>
                          <a class="bio-yellow" target="_blank" href="http://www.calcalist.co.il/internet/articles/0,7340,L-3663144,00.html">הוארך</a>
                          </h1>
                        <h6 class="intro-text">
                          קראנו את הדו״ח המסכם.
                          <a class="bio-yellow"
                              href="https://archive.is/cKA1j#selection-3287.262-3287.475" target="_blank"><strong>זה לא נראה טוב</strong></a>.
                          <br />
                          במרץ 2016 תחליט הכנסת אם לבטל את המאגר הביומטרי, או להפוך את ההצטרפות אליו לחובה.
                          <br />
                          זה הזמן שנותר לנו כדי ללחוץ על חברי הכנסת לבטל את המאגר.
                        </h6>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
