    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">ניסוי
                         <span class="bio-yellow">המאגר הביומטרי</span>
                          מסתיים</h1>
                        <p class="intro-text">
                          קראנו את הדו״ח המסכם.
                          <a href="http://test.calcalist.co.il/internet/articles/0,7340,L-3661721,00.html" target="_blank"><strong>זה לא נראה טוב</strong></a>.
                          עכשיו הזמן ללחוץ על חברי הכנסת לבטל את המאגר.
                        </p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
