    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">ניסוי
                         <span style="color:yellow">המאגר הביומטרי</span>
                          מסתיים</h1>
                        <p class="intro-text">
                          קראנו את הדו״ח המסכם.
                          <a href="http://drm.org.il/files/reports/DRM_report_1.0.pdf" target="_blank">זה לא נראה טוב</a>.
                          עכשיו הזמן ללחוץ על חברי הכנסת לבטל את המאגר.
                        </p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
