<script src="{{ "/js/jquery.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/grayscale.js" | prepend: site.baseurl }}"></script>
{% if include.do_mks %}
<script src="{{ "/js/d3.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/data/parties.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/data/tweets.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/ctrl.js" | prepend: site.baseurl }}"></script>
<script>
  $(document).ready( function() {
    startPage();
  })
</script>
{% endif %}
<script>
  $(document).ready( function() {
    $('.targetblank a').attr('target','_blank');
  })
</script>
