<div class="modal fade" id="emailModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="pull-left" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">נוסח מוצע</h4>
				<small>המייל של
					<span id="emailModalMkGender">MkGender</span>
					הכנסת
					<span id="emailModalMkNameSmall">emailModalMkNameSmall</span>
						 הוא
					<span id="emailModalEmail"><a href="mailto:banana">email</a></span>.
					להלן נוסח מוצע למכתב - אתם מוזמנים לערוך אותו כרצונכם, ולשלוח.</small>
      </div>
      <div class="modal-body">
				<p> לכבוד <span id="emailModalMkName">XXXX</span>,</p>
        <p id="emailModalContent">

				</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">סגור</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
