 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand page-scroll" href="../#mk-status">
                    <i class="fa fa-bank"></i>
                    חזרה
                </a>
            </div>
        </div>
        <!-- /.container -->
    </nav>
    <!-- Intro Header -->
    <header class="intro">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-right" id="mk-details">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    ח״כ {{ include.mk.name }}
                    <a href="../#mk-status"><span class="label label-{{include.mkStatus}}">{{ include.title }}</span></a>
                  </h3>
                </div>
                <div class="panel-body">
                  <div class="media">
                    <div class="media-left">
                      <a href="../#mk-status">
                        <img class="media-object" alt="{{ include.mk.name }}"
                          src="{{ site.baseurl }}/img/mks-small/{{ include.mk.alias }}.jpg">
                      </a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">ח"כ {{ include.mk.name }}</h4>
                      {{ include.content | markdownify }}
                    </div>
                  </div>
                  <h4>פעולות</h4>
                  <ul>
                    {% if include.mk.twitter%}
                      <li><i class="fa fa-twitter"></i></li>
                    {% endif %}
                    {% if include.mk.facebook %}
                      <li><i class="fa fa-facebook"></i></li>
                    {% endif %}
                  </ul>
                  {% if include.mk.email %}
                    המייל של ח״כ {{include.mk.name}}
                    הוא
                    <a href="mailto:{{include.mk.email}}">{{include.mk.email}}</a>.
                    להלן נוסח מוצע למכתב - אתם מוזמנים להעתיק אותו לתוכנת הדואר שלכם, לערוך אותו, ולשלוח.
                    {% capture emailFileName %}email-{{mkStatus}}-{{mkGender}}.txt{% endcapture %}
                    <blockqoute>
                      {% include {{emailFileName}} %}
                    </blockqoute>

                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
