 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand page-scroll" href="../#mk-status">
                    <i class="fa fa-bank"></i>
                    חזרה
                </a>
                <a class="navbar-brand page-scroll" href="../?party={{ mk.party }}#mk-status">
                    <i class="fa fa-users"></i>
                    למפלגה
                </a>
            </div>
        </div>
        <!-- /.container -->
    </nav>
    <!-- Intro Header -->
    <header class="intro">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-right" id="mk-details">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    ח״כ {{ include.mk.name }}
                    <a href="../#mk-status"><span class="label label-{{include.mkStatus}}">{{ include.title }}</span></a>
                  </h3>
                </div>
                <div class="panel-body">
                  <div class="media">
                    <div class="media-left">
                      <a href="../#mk-status">
                        <img class="media-object" alt="{{ include.mk.name }}"
                          src="{{ site.baseurl }}/img/mks-small/{{ include.mk.alias }}.jpg">
                      </a>
                    </div>
                    <div class="media-body targetblank">
                      <h4 class="media-heading">ח"כ {{ include.mk.name }}</h4>
                      {{ include.content | markdownify }}
                    </div>
                  </div>
                  <h4>
                    {{ include.mkAction }}
                  </h4>
                  {% assign escapedUrl = page.url | replace:'index.html','' | prepend:site.baseurl | prepend:site.url | cgi_escape %}
                  <ul>
                      {% if include.mk.twitter%}
                        {% capture tweetFileName %}tweet-{{mkStatus}}-{{mkGender}}.txt{% endcapture %}
                        {% capture mkTweet %}{% include {{ tweetFileName }} mk=mk %}{% endcapture %}
                        <li>
                          <a target="_blank"
                            href="https://twitter.com/intent/tweet?text={{ mkTweet | strip_newlines | cgi_escape }}+{{ escapedUrl }}+%23No2Bio"
                            title="צייצו"><i class="fa fa-twitter"></i> צייצו בטוויטר</a>
                        </li>
                      {% endif %}
                      {% if include.mk.facebook %}
                        <li>
                          <a target="_blank"
                            href="https://www.facebook.com/sharer.php?u={{ escapedUrl }}"
                            title="שתפו"><i class="fa fa-facebook"></i> כיתבו סטטוס בפייסבוק</a>
                          </li>
                      {% endif %}
                      {% if include.mk.office_phone %}
                        <li>
                          טלפון לשכה: <a href="tel:+972{{ include.mk.office_phone_tel }}">{{ include.mk.office_phone }}</a>
                          <br/>
                        </li>
                      {% endif %}
                      {% if include.mk.email %}
                        <li>
                          המייל של ח״כ {{include.mk.name}}
                          הוא
                          <a href="mailto:{{include.mk.email}}">{{include.mk.email}}</a>.
                          להלן נוסח מוצע למכתב - אתם מוזמנים להעתיק אותו לתוכנת הדואר שלכם, לערוך אותו, ולשלוח.
                          {% capture emailFileName %}email-{{mkStatus}}-{{mkGender}}.txt{% endcapture %}
                          <textarea class="form-control" readonly onclick="this.select()" style="cursor:text; height:10em">{% include {{emailFileName}} mk=mk %}</textarea>
                        </li>
                      {% endif %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
