<!DOCTYPE html>
{% assign mkAlias = page.url | split:'/' | last | split :'.' | first %}
{% for m in site.data.mks %}{% if m.alias == mkAlias %}{% assign mk=m %}{% endif %}{% endfor %}
{% assign mkStatus = mk.status | remove:' '%}
{% if mkStatus == '' %} {% assign mkStatus = 'undecided' %} {% endif %}
{% assign mkGender = mk.gender | remove:' '%}
{% if mkGender == '' %} {% assign mkGender = 'm' %} {% endif %}
{% capture mkTitle %}{{ site.data.status[mkGender][mkStatus] }}{% endcapture %}
{% capture mkAction %}{{ site.data.actions[mkGender][mkStatus] }}{% endcapture %}
{% capture pageTitle %}{{site.title}} &mdash; ח&quot;כ {{ mk.name }} {{ mkTitle }}{% endcapture %}
<html lang="he">
    {% include head.html mk=mk title=pageTitle description=mkAction content=content mkStatus=mkStatus mkGender=mkGender %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
      {% include mk-solo.html mk=mk title=mkTitle content=content mkStatus=mkStatus mkGender=mkGender mkAction=mkAction %}
      {% include footer.html %}
      {% include js.html %}
    </body>
</html>
